[user]
	email = 0223314338aa@gmail.com
	name = suinming
[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
[commit]
    template = ~/.gitmessage
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
